{% extends 'Base.html' %}

{% block content %}
  
    <div class="card" style="width: 80%;margin: auto; margin-top:5%;">
      <div class="banner" name="about-header">
        <h1>About Us</h1>
        Welcome to Best Cars dealership, home to the best cars in North America. We deal in selling domestic and imported cars at reasonable prices.
      </div>
      <div style="display: flex;flex-direction: row; margin:auto">
      <div class="card" style="width: 30%;">
        <img class="card-img-top" src="/static/person.png" alt="Card image">
        <div class="card-body">
          <p class="title">Thanmai</p>
          <p><b>Department Head</b></p>
          <p class="card-text">Thanmai has over 12 years of experience in automotive sales and dealership operations. She’s passionate about building a customer-first culture and making the car buying process simple and transparent.</p>
          <p>Tony@example.com</p>
        </div>
      </div>

      <div class="card" style="width: 30%;">
        <img class="card-img-top" src="/static/person.png" alt="Card image">
        <div class="card-body">
          <p class="title">Revi</p>
          <p><b>Manager</b></p>
          <p class="card-text">Revi helps customers secure competitive financing and leasing options tailored to their needs. With a background in banking and auto lending, she makes complex numbers feel easy and stress-free.</p>
          <p>revi@example.com</p>
        </div>
      </div>

      <div class="card" style="width: 30%;">
        <img class="card-img-top" src="/static/person.png" alt="Card image">
        <div class="card-body">
          <p class="title">Fred</p>
          <p><b>Associate</b></p>
          <p class="card-text">Fred pecializes in matching customers with the right vehicle for their lifestyle and budget. Known for his honesty and no-pressure approach, he believes buying a car should feel exciting, not overwhelming.</p>
          <p>fred@example.com</p>
        </div>
      </div>
    </div>
    </div>
    </div>
{% endblock %} 
