{% extends 'Base.html' %}
{% load static %}

{% block content %}
<div>
    <div class="card" style="width: 80%;margin: auto; margin-top:5%;">
        <div style="width:50%;margin:auto;margin-top:3%;">
            <img src="https://static-cdn.cars24.com/prod/auto-news24-cms/CARS24-Blog-Images/2025/08/26/7d25982d-4a7b-4b24-b8c9-b12a01ba209d-cheap-sportscar.webp?w=356&dpr=2.625&optimize=low&format=auto&quality=50" 
                 class="card-img-top" 
                 alt="Car"
                 style="height:270px; object-fit:cover;">
        </div>

        <hr>
        <div style="display:flex; flex-direction:row; padding:3%; align-items:center;">
    
            <div style="width:40%; display:flex; justify-content:center; align-items:center;">
                <img src="/static/contactus.png" style="width:70%;">
            </div>
        
            <div style="flex:1; padding-left:3%; border-left: 1px solid grey; text-align:center;">
                <p><b>Contact Customer Service</b></p>
                <p>support@bestcars.com</p>
        
                <p><b>Contact our National Advertising team</b></p>
                <p>NationalSales@bestcars.com</p>
        
                <p><b>Contact our Public Relations team</b></p>
                <p>PR@bestcars.com</p>
        
                <p><b>Contact the bestcars.com offices</b></p>
                <p>312-611-1111</p>
        
                <p><b>Become a bestcars.com car dealer</b></p>
                <p>Visit growwithbestcars.com</p>
            </div>
        
        </div>
        

    </div>
</div>
{% endblock %}